face1.jpg
face2.jpg
Image Processing coursework report.docx
~$age Processing coursework report.docx
subtraction_image.png
swirl_image_without_prefiltering.png
Swirl_img_prefiltering.png
warping_undone.png
monochrome_pencil.png
rainbow_light_leak.png
subtraction_image.png
summer_blues.png
swirl_image_without_prefiltering.png
subtraction_image.png
simple_light_leak.png
coloured_pencil.png
